.navbar {
    margin: 10px auto;
    display: flex;
    width: fit-content;
}

.navItem {
    background-color: var(--orange-100);
    color: white;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0 15px;
}
.navItem:hover {
    background-color: var(--orange-200);
}